.contenido 
   contenedor()

.caja 
   min-height: 100%
   min-width: 290px
   max-width: 350px
   margin: 15px 30px
   position: relative
   sombra()
   &__image-container 
      width: 100%
      min-width: 290px
      max-width: 350px
      img {
         width: 100%
         // border-top-left-radius: 15px
         // border-top-right-radius: 15px
      }
   &__contenido 
      background-color: colorClaro
      padding: 15px 20px
      margin-bottom: 50px

      span
         margin-bottom: 10px
         text-transform: uppercase
         color: colorSecundario
         font-weight: bold
         font-family: fuenteDos
         font-size: 1.3rem
      h3 
         line-height: 2.2rem
         font-size: 2.3rem
         margin-bottom: 10px