-var titulos = ["Título 1", "Título 2", "Título 3"]
-var user = 'Jose'
-var enlaces = ['Acerca', 'Noticias', 'Contacto']
mixin caja(imagen, titulo, contenido)
	.caja
		.caja__imagen: img(src=`../images/${imagen}`)
		.caja__contenido
			h3 #{titulo}
			p=contenido